*Note: You are currently reading this using Google Colaboratory which is a cloud-hosted version of Jupyter Notebook. This is a document containing both text cells for documentation and runnable code cells. If you are unfamiliar with Jupyter Notebook, watch this 3-minute introduction before starting this challenge: https://www.youtube.com/watch?v=inN8seMm7UI*

---

In this challenge, you will create a book recommendation algorithm using **K-Nearest Neighbors**.

You will use the [Book-Crossings dataset](http://www2.informatik.uni-freiburg.de/~cziegler/BX/). This dataset contains 1.1 million ratings (scale of 1-10) of 270,000 books by 90,000 users. 

After importing and cleaning the data, use `NearestNeighbors` from `sklearn.neighbors` to develop a model that shows books that are similar to a given book. The Nearest Neighbors algorithm measures distance to determine the “closeness” of instances.

Create a function named `get_recommends` that takes a book title (from the dataset) as an argument and returns a list of 5 similar books with their distances from the book argument.

This code:

`get_recommends("The Queen of the Damned (Vampire Chronicles (Paperback))")`

should return:

```
[
  'The Queen of the Damned (Vampire Chronicles (Paperback))',
  [
    ['Catch 22', 0.793983519077301], 
    ['The Witching Hour (Lives of the Mayfair Witches)', 0.7448656558990479], 
    ['Interview with the Vampire', 0.7345068454742432],
    ['The Tale of the Body Thief (Vampire Chronicles (Paperback))', 0.5376338362693787],
    ['The Vampire Lestat (Vampire Chronicles, Book II)', 0.5178412199020386]
  ]
]
```

Notice that the data returned from `get_recommends()` is a list. The first element in the list is the book title passed in to the function. The second element in the list is a list of five more lists. Each of the five lists contains a recommended book and the distance from the recommended book to the book passed in to the function.

If you graph the dataset (optional), you will notice that most books are not rated frequently. To ensure statistical significance, remove from the dataset users with less than 200 ratings and books with less than 100 ratings.

The first three cells import libraries you may need and the data to use. The final cell is for testing. Write all your code in between those cells.

In [ ]:
# import libraries (you may add additional imports but you may not have to)
import numpy as np
import pandas as pd
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
import matplotlib.pyplot as plt

In [ ]:
# get data files
!wget https://cdn.freecodecamp.org/project-data/books/book-crossings.zip

!unzip book-crossings.zip

books_filename = 'BX-Books.csv'
ratings_filename = 'BX-Book-Ratings.csv'

--2022-05-16 07:27:07--  https://cdn.freecodecamp.org/project-data/books/book-crossings.zip
Resolving cdn.freecodecamp.org (cdn.freecodecamp.org)... 104.26.2.33, 104.26.3.33, 172.67.70.149, ...
Connecting to cdn.freecodecamp.org (cdn.freecodecamp.org)|104.26.2.33|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 26085508 (25M) [application/zip]
Saving to: ‘book-crossings.zip’

book-crossings.zip  100%[===================>]  24.88M   121MB/s    in 0.2s

2022-05-16 07:27:08 (121 MB/s) - ‘book-crossings.zip’ saved [26085508/26085508]

Archive:  book-crossings.zip
  inflating: BX-Book-Ratings.csv
  inflating: BX-Books.csv
  inflating: BX-Users.csv

In [ ]:
# import csv data into dataframes
df_books = pd.read_csv(
    books_filename,
    encoding = "ISO-8859-1",
    sep=";",
    header=0,
    names=['isbn', 'title', 'author'],
    usecols=['isbn', 'title', 'author'],
    dtype={'isbn': 'str', 'title': 'str', 'author': 'str'})

df_ratings = pd.read_csv(
    ratings_filename,
    encoding = "ISO-8859-1",
    sep=";",
    header=0,
    names=['user', 'isbn', 'rating'],
    usecols=['user', 'isbn', 'rating'],
    dtype={'user': 'int32', 'isbn': 'str', 'rating': 'float32'})

In [ ]:
print(df_books.info())
print(df_books.head())
print(df_ratings.info())
print(df_ratings.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271379 entries, 0 to 271378
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   isbn    271379 non-null  object
 1   title   271379 non-null  object
 2   author  271378 non-null  object
dtypes: object(3)
memory usage: 6.2+ MB
None
         isbn                                              title  \
0  0195153448                                Classical Mythology
1  0002005018                                       Clara Callan
2  0060973129                               Decision in Normandy
3  0374157065  Flu: The Story of the Great Influenza Pandemic...
4  0393045218                             The Mummies of Urumchi

                 author
0    Mark P. O. Morford
1  Richard Bruce Wright
2          Carlo D'Este
3      Gina Bari Kolata
4       E. J. W. Barber
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149780 entries, 0 to 1149779
Data columns (total 3 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   user    1149780 non-null  int32
 1   isbn    1149780 non-null  object
 2   rating  1149780 non-null  float32
dtypes: float32(1), int32(1), object(1)
memory usage: 17.5+ MB
None
     user        isbn  rating
0  276725  034545104X     0.0
1  276726  0155061224     5.0
2  276727  0446520802     0.0
3  276729  052165615X     3.0
4  276729  0521795028     6.0

In [ ]:
print(df_books.isnull().sum())
print(df_ratings.isnull().sum())

isbn      0
title     0
author    1
dtype: int64
user      0
isbn      0
rating    0
dtype: int64

In [ ]:
df_books.dropna(inplace=True)

In [ ]:
print(df_books.isnull().sum())
print(df_ratings.isnull().sum())

isbn      0
title     0
author    0
dtype: int64
user      0
isbn      0
rating    0
dtype: int64

In [ ]:
print(df_books.shape)
print(df_ratings.shape)

(271378, 3)
(1149780, 3)

In [ ]:
users = df_ratings['user'].value_counts()
users.sort_values(ascending=False)
print(users)

11676     13602
198711     7550
153662     6109
98391      5891
35859      5850
          ...
116180        1
116166        1
116154        1
116137        1
276723        1
Name: user, Length: 105283, dtype: int64

In [ ]:
len(users[users < 200])

104378

In [ ]:
df_ratings['user'].isin(users[users < 200].index).sum()

622224

In [ ]:
df_ratings_rm = df_ratings[
  ~df_ratings['user'].isin(users[users < 200].index)
]
print(df_ratings_rm.shape)

(527556, 3)

In [ ]:
print(df_books.shape)

(271378, 3)

In [ ]:
books = df_ratings['isbn'].value_counts()
print(books.sort_values(ascending=False))

0971880107     2502
0316666343     1295
0385504209      883
0060928336      732
0312195516      723
               ...
1561443042        1
1561446815        1
1561562262        1
0451406192        1
05162443314       1
Name: isbn, Length: 340556, dtype: int64

In [ ]:
print(len(books[books < 100]))

339825

In [ ]:
print(df_ratings['isbn'].isin(books[books < 100].index).sum())

1011319

In [ ]:
df_ratings_rm = df_ratings_rm[
  ~df_ratings_rm['isbn'].isin(books[books < 100].index)
]
print(df_ratings_rm.shape)

(49781, 3)

In [ ]:
# add your code here - consider creating a new cell for each section of code

In [ ]:
df = df_ratings_rm.pivot_table(index=['user'], columns=['isbn'], values='rating').fillna(0).T
print(df)

user        254     2276    2766    2977    3363    4017    4385    6242    \
isbn
002542730X     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
0060008032     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
0060096195     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
006016848X     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
0060173289     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
...            ...     ...     ...     ...     ...     ...     ...     ...
1573227331     0.0     0.0     0.0     0.0     0.0     0.0     0.0     6.0
1573229326     0.0     0.0     0.0     0.0     0.0     0.0     0.0     6.0
1573229571     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
1592400876     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
1878424319     0.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0

user        6251    6323    ...  274004  274061  274301  274308  274808  \
isbn                        ...
002542730X     0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0
0060008032     0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0
0060096195     0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0
006016848X     0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0
0060173289     0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0
...            ...     ...  ...     ...     ...     ...     ...     ...
1573227331     0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0
1573229326     0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0
1573229571     0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0
1592400876     0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0
1878424319     0.0     0.0  ...     0.0     0.0     0.0     0.0     0.0

user        275970  277427  277478  277639  278418
isbn
002542730X     0.0    10.0     0.0     0.0     0.0
0060008032     0.0     0.0     0.0     0.0     0.0
0060096195     0.0     0.0     0.0     0.0     0.0
006016848X     0.0     0.0     0.0     0.0     0.0
0060173289     0.0     0.0     0.0     0.0     0.0
...            ...     ...     ...     ...     ...
1573227331     0.0     0.0     0.0     0.0     0.0
1573229326     0.0     0.0     0.0     0.0     0.0
1573229571     0.0     0.0     0.0     0.0     0.0
1592400876     0.0     0.0     0.0     0.0     0.0
1878424319     0.0     0.0     0.0     0.0     0.0

[731 rows x 888 columns]

In [ ]:
df.index = df.join(df_books.set_index('isbn'))['title']
print(df)

user                                                254     2276    2766    \
title
Politically Correct Bedtime Stories: Modern Tal...     0.0     0.0     0.0
Angels                                                 0.0     0.0     0.0
The Boy Next Door                                      0.0     0.0     0.0
Men Are from Mars, Women Are from Venus: A Prac...     0.0     0.0     0.0
Divine Secrets of the Ya-Ya Sisterhood : A Novel       0.0     0.0     0.0
...                                                    ...     ...     ...
About a Boy                                            0.0     0.0     0.0
How to Be Good                                         0.0     0.0     0.0
About a Boy (Movie Tie-In)                             0.0     0.0     0.0
Eats, Shoots &amp; Leaves: The Zero Tolerance A...     0.0     0.0     0.0
The Four Agreements: A Practical Guide to Perso...     0.0     0.0     0.0

user                                                2977    3363    4017    \
title
Politically Correct Bedtime Stories: Modern Tal...     0.0     0.0     0.0
Angels                                                 0.0     0.0     0.0
The Boy Next Door                                      0.0     0.0     0.0
Men Are from Mars, Women Are from Venus: A Prac...     0.0     0.0     0.0
Divine Secrets of the Ya-Ya Sisterhood : A Novel       0.0     0.0     0.0
...                                                    ...     ...     ...
About a Boy                                            0.0     0.0     0.0
How to Be Good                                         0.0     0.0     0.0
About a Boy (Movie Tie-In)                             0.0     0.0     0.0
Eats, Shoots &amp; Leaves: The Zero Tolerance A...     0.0     0.0     0.0
The Four Agreements: A Practical Guide to Perso...     0.0     0.0     0.0

user                                                4385    6242    6251    \
title
Politically Correct Bedtime Stories: Modern Tal...     0.0     0.0     0.0
Angels                                                 0.0     0.0     0.0
The Boy Next Door                                      0.0     0.0     0.0
Men Are from Mars, Women Are from Venus: A Prac...     0.0     0.0     0.0
Divine Secrets of the Ya-Ya Sisterhood : A Novel       0.0     0.0     0.0
...                                                    ...     ...     ...
About a Boy                                            0.0     6.0     0.0
How to Be Good                                         0.0     6.0     0.0
About a Boy (Movie Tie-In)                             0.0     0.0     0.0
Eats, Shoots &amp; Leaves: The Zero Tolerance A...     0.0     0.0     0.0
The Four Agreements: A Practical Guide to Perso...     0.0     0.0     0.0

user                                                6323    ...  274004  \
title                                                       ...
Politically Correct Bedtime Stories: Modern Tal...     0.0  ...     0.0
Angels                                                 0.0  ...     0.0
The Boy Next Door                                      0.0  ...     0.0
Men Are from Mars, Women Are from Venus: A Prac...     0.0  ...     0.0
Divine Secrets of the Ya-Ya Sisterhood : A Novel       0.0  ...     0.0
...                                                    ...  ...     ...
About a Boy                                            0.0  ...     0.0
How to Be Good                                         0.0  ...     0.0
About a Boy (Movie Tie-In)                             0.0  ...     0.0
Eats, Shoots &amp; Leaves: The Zero Tolerance A...     0.0  ...     0.0
The Four Agreements: A Practical Guide to Perso...     0.0  ...     0.0

user                                                274061  274301  274308  \
title
Politically Correct Bedtime Stories: Modern Tal...     0.0     0.0     0.0
Angels                                                 0.0     0.0     0.0
The Boy Next Door                                      0.0     0.0     0.0
Men Are from Mars, Women Are from Venus: A Prac...     0.0     0.0     0.0
Divine Secrets of the Ya-Ya Sisterhood : A Novel       0.0     0.0     0.0
...                                                    ...     ...     ...
About a Boy                                            0.0     0.0     0.0
How to Be Good                                         0.0     0.0     0.0
About a Boy (Movie Tie-In)                             0.0     0.0     0.0
Eats, Shoots &amp; Leaves: The Zero Tolerance A...     0.0     0.0     0.0
The Four Agreements: A Practical Guide to Perso...     0.0     0.0     0.0

user                                                274808  275970  277427  \
title
Politically Correct Bedtime Stories: Modern Tal...     0.0     0.0    10.0
Angels                                                 0.0     0.0     0.0
The Boy Next Door                                      0.0     0.0     0.0
Men Are from Mars, Women Are from Venus: A Prac...     0.0     0.0     0.0
Divine Secrets of the Ya-Ya Sisterhood : A Novel       0.0     0.0     0.0
...                                                    ...     ...     ...
About a Boy                                            0.0     0.0     0.0
How to Be Good                                         0.0     0.0     0.0
About a Boy (Movie Tie-In)                             0.0     0.0     0.0
Eats, Shoots &amp; Leaves: The Zero Tolerance A...     0.0     0.0     0.0
The Four Agreements: A Practical Guide to Perso...     0.0     0.0     0.0

user                                                277478  277639  278418
title
Politically Correct Bedtime Stories: Modern Tal...     0.0     0.0     0.0
Angels                                                 0.0     0.0     0.0
The Boy Next Door                                      0.0     0.0     0.0
Men Are from Mars, Women Are from Venus: A Prac...     0.0     0.0     0.0
Divine Secrets of the Ya-Ya Sisterhood : A Novel       0.0     0.0     0.0
...                                                    ...     ...     ...
About a Boy                                            0.0     0.0     0.0
How to Be Good                                         0.0     0.0     0.0
About a Boy (Movie Tie-In)                             0.0     0.0     0.0
Eats, Shoots &amp; Leaves: The Zero Tolerance A...     0.0     0.0     0.0
The Four Agreements: A Practical Guide to Perso...     0.0     0.0     0.0

[731 rows x 888 columns]

In [ ]:
df = df.sort_index()
print(df.head())

user                 254     2276    2766    2977    3363    4017    4385    \
title
1984                    9.0     0.0     0.0     0.0     0.0     0.0     0.0
1st to Die: A Novel     0.0     0.0     0.0     0.0     0.0     0.0     0.0
1st to Die: A Novel     0.0     0.0     0.0     0.0     0.0     0.0     0.0
2nd Chance              0.0     0.0     0.0     0.0     0.0     0.0     0.0
2nd Chance              0.0    10.0     0.0     0.0     0.0     0.0     0.0

user                 6242    6251    6323    ...  274004  274061  274301  \
title                                        ...
1984                    0.0     0.0     0.0  ...     0.0     0.0     0.0
1st to Die: A Novel     0.0     0.0     0.0  ...     0.0     0.0     0.0
1st to Die: A Novel     0.0     0.0     0.0  ...     0.0     0.0     0.0
2nd Chance              0.0     0.0     0.0  ...     0.0     0.0     0.0
2nd Chance              0.0     0.0     0.0  ...     0.0     0.0     0.0

user                 274308  274808  275970  277427  277478  277639  278418
title
1984                    0.0     0.0     0.0     0.0     0.0     0.0     0.0
1st to Die: A Novel     0.0     0.0     0.0     0.0     0.0     0.0     0.0
1st to Die: A Novel     0.0     0.0     0.0     0.0     0.0     0.0     0.0
2nd Chance              0.0     0.0     0.0     0.0     0.0     0.0     0.0
2nd Chance              0.0     0.0     0.0     0.0     0.0     0.0     0.0

[5 rows x 888 columns]

In [ ]:
model = NearestNeighbors(metric='cosine')
model.fit(df.values)

NearestNeighbors(metric='cosine')

In [ ]:
title = 'The Queen of the Damned (Vampire Chronicles (Paperback))'
df.loc[title].shape

(888,)

In [ ]:
distance, indice = model.kneighbors([df.loc[title].values], n_neighbors=6)
print(distance)
print(indice)

[[0.         0.51784116 0.53763384 0.73450685 0.74486566 0.7939835 ]]
[[612 660 648 272 667 110]]

In [ ]:
pd.DataFrame({
    'title' :df.iloc[indice[0]].index.values,
    'distance':distance[0]
}) \
.sort_values(by='distance', ascending=False)

                                               title  distance
5                                           Catch 22  0.793984
4   The Witching Hour (Lives of the Mayfair Witches)  0.744866
3                         Interview with the Vampire  0.734507
2  The Tale of the Body Thief (Vampire Chronicles...  0.537634
1   The Vampire Lestat (Vampire Chronicles, Book II)  0.517841
0  The Queen of the Damned (Vampire Chronicles (P...  0.000000

In [ ]:
# function to return recommended books - this will be tested
def get_recommends(book = ""):
  try:
    target = df.loc[book]
  except KeyError as e:
    print('The given book', e, 'does not exist')
    return

  distance, indice = model.kneighbors([target.values], n_neighbors=6)

  recommended_books = pd.DataFrame({
      'title' :df.iloc[indice[0]].index.values,
      'distance': distance[0]
  }) \
  .sort_values(by='distance', ascending=False) \
  .head(5).values

  return [book, recommended_books]

Use the cell below to test your function. The `test_book_recommendation()` function will inform you if you passed the challenge or need to keep trying.

In [ ]:
books = get_recommends("Where the Heart Is (Oprah's Book Club (Paperback))")
print(books)

def test_book_recommendation():
  test_pass = True
  recommends = get_recommends("Where the Heart Is (Oprah's Book Club (Paperback))")
  if recommends[0] != "Where the Heart Is (Oprah's Book Club (Paperback))":
    test_pass = False
  recommended_books = ["I'll Be Seeing You", 'The Weight of Water', 'The Surgeon', 'I Know This Much Is True']
  recommended_books_dist = [0.8, 0.77, 0.77, 0.77]
  for i in range(2): 
    if recommends[1][i][0] not in recommended_books:
      test_pass = False
    if abs(recommends[1][i][1] - recommended_books_dist[i]) >= 0.05:
      test_pass = False
  if test_pass:
    print("You passed the challenge! 🎉🎉🎉🎉🎉")
  else:
    print("You haven't passed yet. Keep trying!")

test_book_recommendation()

["Where the Heart Is (Oprah's Book Club (Paperback))", array([["I'll Be Seeing You", 0.8016210794448853],
       ['The Weight of Water', 0.7708583474159241],
       ['The Surgeon', 0.7699410915374756],
       ['I Know This Much Is True', 0.7677075266838074],
       ['The Lovely Bones: A Novel', 0.7234864234924316]], dtype=object)]
You passed the challenge! 🎉🎉🎉🎉🎉